
.canvasDiv {
    width: 100%;
    height: 75svh;    
}

.img {
    width: 40svw;
    height: 70svh;
}

/*
Base ratios:
.img width: 10svh
.img height: 10svh

.canvas top: 1svh
.canvas width: 5svh
.canvas 7svh
*/

.canvas {
    // All these values are relative to img class by ratio
    top: 7svh;
    width: 18svw;
    height: 47svh;

    z-index: 3;
}